@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
@layer base {
}

.unbounded-font {
	font-family: Unbounded;
}

.btn__filled {
	@apply text-sm uppercase text-white bg-pale-sky-800 p-4 ring-black transition duration-150 ring-inset;

	&:hover {
		@apply bg-transparent text-black ring-2;
		animation-name: animate__fadeIn;
	}

	&:active {
		@apply bg-pale-sky-200;
	}

	animation: animate__animated;
}

.btn__outlined {
	@apply text-sm uppercase ring-2 ring-black ring-inset p-4 transition duration-150 font-bold;

	&:hover {
		@apply bg-black text-white;
		animation-name: animate__fadeIn;
	}

	&:active {
		@apply bg-pale-sky-600;
	}
	animation: animate__animated;
}

.btn__simple {
    @apply bg-black hover:bg-transparent text-white font-semibold hover:text-black py-2 px-4 border border-black rounded transition duration-150 active:bg-pale-sky-200;
}

.btn__simple_white {
    @apply py-2 px-2 border shadow-sm rounded transition duration-150 active:bg-pale-sky-200 hover:bg-pale-sky-100;
}

.title {
	@apply xl:text-9xl lg:text-8xl text-6xl;
}

.subtitle {
	@apply xl:text-6xl lg:text-4xl text-2xl uppercase my-10;
}
.minititle {
	@apply xl:text-3xl lg:text-2xl text-xl uppercase;
}

.grid__card {
    @apply border p-5 rounded-xl shadow-xl m-5 flex flex-col items-start;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	box-orient: vertical;
}
