@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
@layer base {
}

.unbounded-font {
	font-family: Unbounded;
}

.btn__filled {
	@apply text-sm uppercase text-white bg-pale-sky-800 p-4 ring-black transition duration-150 ring-inset;

	&:hover {
		@apply bg-white text-black ring-2;
		animation-name: animate__fadeIn;
	}

	&:active {
		@apply bg-pale-sky-200;
	}

	animation: animate__animated;
}

.btn__outlined {
	@apply text-sm uppercase ring-2 ring-black ring-inset p-4 transition duration-150 font-bold;

	&:hover {
		@apply bg-black text-white;
		animation-name: animate__fadeIn;
	}

	&:active {
		@apply bg-pale-sky-600;
	}
	animation: animate__animated;
}

.title {
	@apply xl:text-9xl lg:text-8xl text-6xl;
}

.subtitle {
	@apply xl:text-6xl lg:text-4xl text-2xl uppercase my-10;
}
